<!-- MAIN CONTENT AREA -->
<main role="main">

	<!-- JUMBOTRON -->
	<div class="jumbotron" id="jumbo">
		<div class="container" id="jumboContainer">
			<img src="assets/img/HopHarmonyAnimated.svg"  id="hopLogo" alt="Responsive image">
			<hr>
			<p>Check out the matches for burrows and bunnies we have found for you!</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/" role="button" id="jumboButton">TRY AGAIN<img src="assets/img/carrot.svg" id="jumboButtonImg" alt="Feed The Bunny"></a>
			</p>
		</div>
	</div>

	<!-- BUNNIES RESULTS DISPLAYED HERE -->
	<div class="container-fluid" id="bunniesFluidContainer"> <!-- Fluid Container -->
		<div class="container" id="bunniesInnerContainer"> <!-- Container -->
			<h3>FRIENDLY BUNNIES</h3>
			<hr>

			<!-- RESULTS ROW1 -->
			<div class="row bunOddRows" id="rowBun01">
				{{!-- THIS IS WHERE YOU HAVE TO FIGURE OUT HOW TO ADD EACH RESULT --}}
				{{#each bunnies}}
					{{!-- {{> bunnies/bunnies}} --}}
				{{/each}}
			</div> <!-- END OF ROW 1 -->
		</div> <!-- End Container -->
	</div> <!-- End of Fluid Container -->
</main>