	<!-- JUMBOTRON -->	
	<div class="jumbotron" id="jumbo">

		<!-- VIDEO AREA-->
				<!-- This is a black overlay on top of the video to make the video darker -->
				<div id="videoOverlayJumbo"></div> 
				<!-- Video -->
				<video preload="true" autoplay loop muted poster="assets/img/backgroundImg01.jpg" id="backgroundVideoJumbo">
					<source src="assets/vids/videoOption4LowRes.mp4" type="video/mp4">
				</video>


		<div class="container" id="jumboContainer">
			<img src="assets/img/HopHarmonyAnimated.svg"  id="hopLogo" alt="Responsive image">
			<hr>
			<p>Check out the all the bunnies currently registered in HopHarmony!</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/index" role="button" id="jumboButton">BACK HOME<img src="assets/img/carrot.svg" id="jumboButtonImg" alt="BackHome"></a>
			</p>
		</div>
	</div>
	

	<!-- BUNNIES RESULTS DISPLAYED HERE -->
	<div class="container-fluid" id="bunniesFluidContainer"> <!-- Fluid Container -->
		<div class="container" id="bunniesInnerContainer"> <!-- Container -->
			<h3>FRIENDLY BUNNIES</h3>
			<hr>

			<!-- RESULTS ROW1 -->
			<div class="row bunOddRows" id="rowBun01">
				{{!-- THIS IS WHERE YOU HAVE TO FIGURE OUT HOW TO ADD EACH RESULT --}}
				{{#each bunniesAll}}
					{{> bunnies/bunnies}}
				{{/each}}
			</div> <!-- END OF ROW 1 -->
		</div> <!-- End Container -->
	</div> <!-- End of Fluid Container -->