/*Creating our own CSS Style Sheeet for the project*/

/*Styles that apply to the entire page*/
	body {
		font-family: 'Montserrat', sans-serif;
		color: #001a27;
	}

/* JUMBOTRON */
	#jumbo {
		background-color: white;
		background-image: url("/assets/img/backgroundImg01.jpg");
		background-size: cover;
		background-blend-mode: normal;
		border: none;
		border-radius: 0;
		font-size: 20px;
		margin-bottom: 0px;
	}

	#hopLogo {
		max-width: 45%; !important
	}

	#jumboContainer hr{
		background-color: #99928a;
		height: 5px;
		border: none;
		width: 12.5%;
		left: -220px;
		margin: 20px 0;
	}

	#jumboButton {
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 2px;
		background-color: #f99d2a;
		border: none;
		padding: 8px 20px;
		padding-right: 35px;
		margin-top: 10px;
		margin-bottom: 0;
	}

	#jumboButtonImg {
		height: 20px;
		position: absolute;
	}

/* BURROW RESULTS */
	#burrowsFluidContainer {
		background-color: #001a27;
		padding-top: 80px;
		padding-bottom: 50px;
	}

	#burrowsInnerContainer h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 50px;
		font-weight: 300;
		letter-spacing: 4px;
		color: #f3e9de;
		margin-bottom: 40px;
	}

	#burrowsInnerContainer hr {
		background-color: #62bb46;
		align-self: center;
		max-width: 20%;
		margin-bottom: 50px;
	}
	
	#burrowsInnerContainer .card {
		margin-bottom: 25px;
	}

	


/* COLORS:
Orange:
R=249 G=157 B=42
#f99d2a
---
Green:
R=98 G=187 B=70
#62bb46
---
Taupe:
R=153 G=146 B=138
#99928a
---
Sand:
#f3e9de
---
Dark Blue for text
#001a27
*/