/*Creating our own CSS Style Sheeet for the project*/

/*Styles that apply to the entire page*/

	body {
		font-family: 'Montserrat', sans-serif;
		COLOR: #001a27;
	}

/* BACKGROUND VIDEO + OVERLAY + TEXT */
	#videoOverlay {
		background: #ffffff;
		opacity: 0.75;
		position: absolute;
		z-index: -50;
		text-align: center;
		margin: 0%;
		height: 100%;
		width: 100%;
	}

	#backgroundVideo {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../img/backgroundImg01.jpg) no-repeat;
		background-size: cover;
	}

/* CONTAINERS */
	#containerAll {
		overflow: overlay;
		margin: 0;
		padding: 0;
	}

/* MAIN ROW */

	#mainRow {
		height: 100vh;
	}

	/* LOGO COLUMN */
	#logoColumn {
		font-weight: 300;
		font-size: 16px;
		margin-top: 40px;
		margin-bottom: 15px;
	}

	#logoColumn p {
		margin-bottom: 0;
	}

	#logoColumn hr{
		background-color: #99928a;
		height: 5px;
		border: none;
		width: 30%;
		left: -220px;
		margin: 20px 0;
	}

	/* FORM COLUMN */
	#formColumn {
		background-color: rgba(153, 146, 137, 0.25);
		padding: 30px 35px;
		font-size: 12px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	#formColumn h1 {
		font-weight: 900;
		font-size: 40px;
		text-transform: uppercase;
		color: #001a27;
		margin-bottom: 0;
	}

	#formColumn p {
		line-height: 1.5;
	}

	#formColumn .row {
		margin-bottom: 4px;
	}

	#formColumn input, select, option {
		font-weight: 300;
		font-size: 12px;
	}

	#formColumn button {
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 2px;
		background-color: #f99d2a;
		border: none;
		border-radius: 0;
		padding: 10px 30px;
		padding-right: 50px;
		margin-top: 15px;
		margin-bottom: 0;
	}

	#formColumn button img {
		height: 26px;
		position: absolute;
	}

	#formColumn #languages, #activities {
		height: 44px;
	}

	#formColumn .radio label {
		font-weight: 300;
		font-size: 14px;
	}

	#formColumn hr {
		background-color: #62bb46;
		height: 2px;
		width: 200px;
		border: none;
		margin: 20px auto;
	}

	#formColumn #customRadios {
		margin-top: 10px;
	}
	
	#childrenNo, #petNo, #smokeNo {
		margin-left: 20px;
	}




/* 
======================
BEGIN RESULTS PAGE CSS
======================
*/

/* JUMBOTRON */
#jumbo {
	background-color: white;
	background-image: url("/assets/img/backgroundImg01.jpg");
	background-size: cover;
	background-blend-mode: normal;
	border: none;
	border-radius: 0;
	font-size: 20px;
	margin-bottom: 0px;
}

#hopLogo {
	max-width: 45% !important;
}

#jumboContainer hr{
	background-color: #99928a;
	height: 5px;
	border: none;
	width: 12.5%;
	left: -220px;
	margin: 20px 0;
}

#jumboButton {
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #f99d2a;
	border: none;
	border-radius: 0;
	padding: 8px 20px;
	padding-right: 35px;
	margin-top: 10px;
	margin-bottom: 0;
}

#jumboButtonImg {
	height: 20px;
	position: absolute;
}

/* BURROW RESULTS */
#burrowsFluidContainer {
	background-color: #001a27;
	padding-top: 80px;
	padding-bottom: 80px;
}

#burrowsInnerContainer h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 4px;
	color: #f3e9de;
	margin-bottom: 40px;
}

#burrowsInnerContainer hr {
	background-color: #62bb46;
	align-self: center;
	max-width: 20%;
	margin-bottom: 50px;
}

#burrowsInnerContainer .card {
	margin-bottom: 40px;
	border: none;
	border-radius: 0px;
	font-size: 14px;	
}

#burrowsInnerContainer .card .card-img-top {
	border: none;
	border-radius: 0px;
	height: 200px;
	object-fit: cover;
}

#burrowsInnerContainer h5 {
	font-size: 18px;
	background-color: #62bb46;
	color: white;
	margin-left: -1.25rem;
	margin-right: -1.25rem;
	margin-top: -1.25rem;
	margin-bottom: 1rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: none;	
}

#burrowsInnerContainer .card .burResSpan {
	margin-left: 5px;
	font-weight: 100;
	color: #99928a;
}

.selectBtns {
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #62bb46;
	border: none;
	border-radius: 0;
	padding: 8px 30px;
	margin-top: 0.75rem;
	margin-bottom: 10px;
}



/* BUNNIES RESULTS */
#bunniesFluidContainer {
	background-color: #f3e9de;
	padding-top: 80px;
	padding-bottom: 80px;
}

#bunniesInnerContainer h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 4px;
	color: #001a27;
	margin-bottom: 40px;
}

#bunniesInnerContainer hr {
	background-color: #f99d2a;
	align-self: center;
	max-width: 20%;
	margin-bottom: 50px;
}

.bunCards {
	margin-bottom: 60px;
	border: none;
	font-size: 14px;
	background: white;
}

.bunHeaders {
	background-color: #f3e9de;
	height: 120px;
	text-align: center;
	padding: 0;
	border-bottom: 5px solid #f99d2a;
}

.bunHeaders img {
	border-radius: 50%;
	border: 5px solid #f99d2a;
	max-width: 160px;
	max-height: 160px;
}

.BunBodies {
	background: none;
	padding: 1.25rem;
	padding-top: 4rem;
}

.BunTitles {
	text-align: center;
	color: #f99d2a;
	font-weight: 300;
	margin-bottom: 36px;
}

.BunText {
	font-size: 14px;
	margin-bottom: 0px;
}

.bunResSpan {
	margin-left: 5px;
	font-weight: 100;
	color: #99928a;
}

.bunResSpan2 {
	font-weight: 100;
	color: #99928a;
}

.selectBunBtns {
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #f99d2a;
	border: none;
	border-radius: 0;
	padding: 8px 30px;
	margin-top: 1rem;
	margin-bottom: 10px;
}
	




/* COLORS:
Orange:
R=249 G=157 B=42
#f99d2a
---
Green:
R=98 G=187 B=70
#62bb46
---
Taupe:
R=153 G=146 B=138
#99928a
---
Sand:
#f3e9de
---
Dark Blue for text
#001a27
*/