/*Creating our own CSS Style Sheeet for the project*/

/*Styles that apply to the entire page*/

	body {
		font-family: 'Montserrat', sans-serif;
		COLOR: #001a27;
	}

/* BACKGROUND VIDEO + OVERLAY + TEXT */
	#videoOverlay {
		background: #ffffff;
		opacity: 0.75;
		position: absolute;
		z-index: -50;
		text-align: center;
		margin: 0%;
		height: 100%;
		width: 100%;
	}

	#backgroundVideo {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../img/backgroundImg01.jpg) no-repeat;
		background-size: cover;
	}

/* CONTAINERS */
	#containerAll {
		overflow: auto;
	}

	#containerInside {
		overflow: auto;
	}

/* MAIN ROW */

	#mainRow {
		height: 100vh;
	}

	/* LOGO COLUMN */
	#logoColumn {
		font-weight: 300;
		font-size: 16px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#logoColumn p {
		margin-bottom: 0;
	}

	#logoColumn hr{
		background-color: #99928a;
		height: 5px;
		border: none;
		width: 30%;
		left: -220px;
		margin: 20px 0;
	}

		
	/* EMPTY COLUMN */
	#emptyColumnDiv {
		
	}


	/* FORM COLUMN */
	#formColumn {
		background-color: rgba(153, 146, 137, 0.25);
		padding: 40px;
		font-size: 14px;
		margin-bottom: 40px;
	}

	#formColumn h1 {
		font-weight: 900;
		font-size: 40px;
		text-transform: uppercase;
		color: #001a27;
	}

	#formColumn .row {
		margin-bottom: 6px;
	}

	#formColumn input, select, option {
		font-weight: 300;
		font-size: 14px;
	}

	#formColumn button {
		font-weight: 100;
		font-size: 20px;
		letter-spacing: 2px;
		background-color: #f99d2a;
		border: none;
		padding: 10px 40px;
		padding-right: 60px;
		margin-top: 20px;
		margin-bottom: 0;
	}

	#formColumn button img {
		height: 26px;
		position: absolute;
	}

	#formColumn #languages, #activities {
		height: 50px;
	}

	#formColumn .radio label {
		font-weight: 300;
		font-size: 14px;
	}

	#formColumn hr {
		background-color: #62bb46;
		height: 2px;
		width: 200px;
		border: none;
		margin: 20px auto;
	}

	#formColumn #customRadios {
		margin-top: 10px;
	}

	#formColumn #customRadios label #childrenNo, #petNo, #smokeNo {
		margin-left: 20px;
	}



/* COLORS:
Orange:
R=249 G=157 B=42
#f99d2a
---
Green:
R=98 G=187 B=70
#62bb46
---
Taupe:
R=153 G=146 B=138
#99928a
---
Sand:
#f3e9de
---
Dark Blue for text
#001a27
*/